.data-type-place {
    background-color: rgba(0,0,0,0.04);
    line-height: 24px;
}
.data-type-place .coordinates {
    font-size: 14px;
    line-height: 18px;
    position: static;
    text-align: left;
    height: auto;
    margin-bottom: 6px;
}
